[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = AWS Service registry for resilient mid-tier load balancing and failover.
[access "refs/*"]
	owner = group user/nicekuku
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/nicekuku
	label-Verified = -1..+1 group user/nicekuku
	push = group user/nicekuku
	read = group user/nicekuku
	rebase = group user/nicekuku
	removeReviewer = group user/nicekuku
	submit = group user/nicekuku
[access "refs/heads/*"]
	create = group user/nicekuku
	push = +force group user/nicekuku
	pushMerge = group user/nicekuku
	read = group user/nicekuku
[access "refs/tags/*"]
	push = group user/nicekuku
	push = +force group user/nicekuku
